body{
	background-color: $blanco;
}

nav{
	background-color: $amarillo;
	width: 100%;
	li{
		list-style-type: none;
	}
	a{
		text-decoration: none;
		color: black;
	}
	a:hover{
		color: black;
		font-weight: bold;
	}
}

.active{
	font-weight: bold;
}

article{
	display: flex;
	margin-bottom: 10px;
}

article:hover{
	transform: scale(1.02);
	cursor: pointer;
}

.redes:hover{
	transform: scale(1.1);
}

.logo:hover{
	transform: scale(1.1);
}

label{
	font-weight: bold;
}

footer{
	ul{
		flex-direction: column;
	}
}

.btn{
	border-radius: 5px;
	border-width: 2px;
	border-color: $verdeOscuro;
}

.btn:hover{
	font-weight: bold;
}

.negrita{
	font-weight: bold;
}

.botonProducto{
	background-color: $amarillo;
	width: 15%;
}

.botonProducto:hover{
	transform: scale(1.05);
}

#formulario{
	border-style: solid;
	border-color: $verdeOscuro;
	border-width: 2px;
}

#productos{
	height: 50vh;
}