@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

$font: 'Source Sans Pro', sans-serif;
$weightHeader: 600;
$weightBody: 300;

$amarillo: #f9e044;
$blanco: #f6f4e6;
$verdeOscuro: #102501;
$verdeClaro: #6c8229;
$negro: #ffffff;